@import "tailwindcss";
@plugin "daisyui" {
  exclude: rootcolor;
}

:root {
  --background: #f1edff;
  --foreground: #18181b;

  --highlight: #ff4500;

  --primary: #18181b;
  --primary-hover: #27272a;

  --secondary: #71717a;
  --secondary-hover: #52525b;

  --inactive: #a1a1aa;

  --gradient-a: #bbf7d0;
  --gradient-b: #fef08a;
  --gradient-c: #86efac;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100%;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
