@import "tailwindcss";
@plugin "daisyui" {
  exclude: rootcolor;
}

:root {
  --background: #1840c2;
  --foreground: #e5e7eb;

  --highlight: #60a5fa;

  --primary: #2563eb;
  --primary-hover: #1e3a8a;

  --secondary: #475569;
  --secondary-hover: #334155;

  --inactive: #94a3b8;

  --gradient-a: #3b82f6;  /* lighter cool blue */
  --gradient-b: #a855f7;  /* lighter violet */
  --gradient-c: #f472b6;  /* lighter pink */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100%;
}
